:root {
--background-color: #111;
--accent-color: #000;
--body-background-color: #fff;
--text-color: #fff;
--blend-mode: darken;
--box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}


body {
    text-align: center;
    background-color:  var(--body-background-color);
    color: var(--text-color);
}

a {
    color: #f0f;
}

a:hover {
    color: #2dd;
}

img {
display: flex;
width: 100%;
border-radius: 5px;
    box-shadow: 0 3px 20px rgba(255,255,255,0.5);

}


.message {
color: #f0f;
font-size: 24px;
}


.listing-header {
  display: block;
  justify-content: space-between;
  padding: 10px;
}

.listing-image {
width: 1000px;
max-width: 90%;
margin: auto;
}

.listing {
background-color: var(--background-color);
margin: 20px;
max-height: 200px;
display: flex;
width: calc(100% - 40px);
padding: 20px;
justify-content: space-between;
color: var(--text-color);
box-shadow: 0 3px 20px rgba(255,255,255,0.2);

}

.watch-listing-image img {
max-height: 200px;
max-width: 200px;
align-items: center;
}

.watch-listing-left {
text-align: left;
display: flex;
align-items: center;
}

.watch-listing-content {
display:block;
text-align: right;
}

.text-over-body {
    color: var(--background-color);
}

.centering {
margin: auto;
width: 1000px;
max-width: 90%;
}

.btn {
min-width: 200px; }

.grid-item {
    width: calc(33.3% - 20px);
    margin: 10px;
    background-color: var(--background-color);
    padding: 10px;
    color: white;
    box-shadow: 0 3px 20px rgba(255,255,255,0.2);
    font-size: 18px;
    }
.grid-item .listing-content {
font-size: 18px;
padding: 40px;
text-align: left;}
.grid-item:hover {
    background-color: #616;
}
.listing:hover {
background-color: #616;}

#masonry-grid {
    max-width: 3000px;
    margin: 0 auto;
}